.rain {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
  }
  
  .drop {
    background: rgba(255, 255, 255, 0.6);
    width: 1px;
    height: 10px;
    position: absolute;
    bottom: 100%;
    animation: fall linear infinite;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
  }